*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/kohii/.gitignore
/kohii-sample/.gitignore
/kohii/proguard-rules.pro
/kohii-sample/proguard-rules.pro
/kohii/build/
/kohii-sample/build/
/kohii-sample/libs/
/kohii/libs/
/kohii-sample/src/androidTest/
/kohii/src/test/
/kohii/src/androidTest/
/kohii-sample/src/test/
/.idea/caches/
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/
/.idea/kotlinc.xml
/.idea/markdown-navigator/
/.idea/markdown-navigator.xml
/kohii-sample/fabric.properties
/kohii-sample/google-services.json
/kohii/src/main/java/.scannerwork/
/.scannerwork/.sonar_lock
/buildSrc/build
/buildSrc/.gradle
/.idea/markdown-exported-files.xml
/kohii-exoplayer/.gitignore
/kohii-exoplayer/consumer-rules.pro
/kohii-exoplayer/src/androidTest/
/kohii-exoplayer/src/test/
/kohii-core/src/androidTest/
/kohii-core/src/main/java/.scannerwork/
/kohii-core/src/test/
/kohii-core/.gitignore
/kohii-core/proguard-rules.pro
/kohii-exoplayer/build/
/kohii-exoplayer/libs/
/github.properties
/kohiix/.gitignore
/kohiix/consumer-rules.pro
/kohiix/kohiix.iml
/kohiix/src/androidTest/
/kohiix/src/test/
/kohii-ads/src/androidTest/
/kohii-ads/src/test/
/kohii-ads/.gitignore
/kohii-ads/consumer-rules.pro
/kohii-ads/kohii-ads.iml
/docs/api/
/docs/changelog.md
/docs/code_of_conduct.md
/site/
/docs/art/
/kohii-experiments/.gitignore
/kohii-experiments/consumer-rules.pro
/kohii-experiments/kohii-experiments.iml
/kohii-experiments/proguard-rules.pro
/kohii-experiments/src/androidTest/
/kohii-experiments/src/test/
.settings/
.classpath
.project
/.idea/dictionaries/
/kohii-ads/build/
/kohii-core/build/
/kohii-experiments/build/
/.idea/markdown-navigator-enh.xml
/.idea/jarRepositories.xml
/.idea/render.experimental.xml
