name: Deploy Snapshot
on:
  push:
    branches:
      - dev-**
jobs:
  deploy-snapshot:
    name: Run unit-test and Deploy snapshot
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Generate cache key
        run: ./checksum.sh checksum.txt
      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Run test and check code change
        run: bash ./gradlew test check assembleDebug --stacktrace
      - name: Deploy Snapshot
        run: |
          echo $GPG_KEY_ARMOR | base64 --decode > ./release.asc
          gpg --quiet --output $GITHUB_WORKSPACE/release.gpg --dearmor ./release.asc

          echo "mavenCentralRepositoryUsername=$SONATYPE_NEXUS_USERNAME" >> gradle.properties
          echo "mavenCentralRepositoryPassword=$SONATYPE_NEXUS_PASSWORD" >> gradle.properties
          echo "signing.keyId=$GPG_KEY_ID" >> gradle.properties
          echo "signing.password=$GPG_PASSWORD" >> gradle.properties
          echo "signing.secretKeyRingFile=$GITHUB_WORKSPACE/release.gpg" >> gradle.properties
          ./gradlew clean build && ./gradlew publishReleasePublicationToMavenRepository --no-daemon --no-parallel
        env:
          SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          GPG_KEY_ARMOR: ${{ secrets.GPG_KEY_ARMOR }}
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
